<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.djamil.takephoto">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:requestLegacyExternalStorage="true" >

        <activity android:name="com.djamil.takephoto.TakePhotoActivity"
          android:theme="@style/Theme.Transparent.ImagePicker"
            android:exported="false"
          android:screenOrientation="unspecified"/>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="com.djamil.takephoto.TakePhotoFileProvider"
            android:authorities="${applicationId}.imagepicker.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_picker_provider_paths" />

        </provider>

    </application>

</manifest>
