<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.djamil.dynamic_form">

    <application  android:supportsRtl="true"
        android:theme="@style/AppThemeDynamicForm">
        <activity android:name=".utils.MainActivity"></activity>
    </application>

</manifest>