<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suntelecoms.authenticate">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".activity.AuthenticateActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:launchMode="singleTask"/>
    </application>
</manifest>